@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* CSS Variablles */
:root {
    --background-color: #D6E1F0;
    --card-bg-color: hsl(0, 0%, 100%);
    --title-color: hsl(218, 44%, 22%);
    --text-color: hsl(216, 15%, 48%);
}

body {
    background-color: var(--background-color);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 315px;
    height: 300px;
    border-radius: 10px;
}

.card-content {
    width: 280px;
    text-align: center;   
}

.card-title {
    color: var(--title-color);
}

.card-description {
    color: var(--text-color);
}